/*nadpisy, pozadí atp*/
/*dodìùávky: u fotografíí vymìnit z procent na pevnou šíøki, u blokù v aktualitách zmìnit z pevné šíøky na procenta.*/

h1{
  text-align: center;
  font-size: 34pt;
  color: black;
}
.KMK {
    text-decoration: none;
    color: black;
}
h2 {
    text-align: center;
    color: #003b00;
    text-decoration: underline;
    font-size: 25pt;
}
h4 {
    margin-left: 80px;
}
hr{
  border: 1px solid black;
}
body {
    background-color: #5aae25e1;
}
/*menu*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3E7B27;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-right: 1px solid black;
}

.sidenav a {
  padding: 5px 8px 8px 40px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s; 
  width: auto;
  height: 33px;
}


.sidenav a:hover {
   color: #EFE3C2;
   background-color: #5cb027;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/*o nás*/

.vitej{
    font-size:23pt;
    margin-left:80px;
}

.o_nas{
    font-size:15pt;
    width:90%;
    margin-left:80px;
    text-align:justify;
    line-height: 19pt;
}
.uvod1 {
    text-align: center;
    margin: 60px;
}
.uvod2 {
    
    width: 55%;
    border-radius: 25px;
    border: 4px solid #3E7B27;
    box-shadow: black 10px 10px 25px;
    transition: transform 0.5s ease;
    transform-origin: center;
}
.uvod2:hover{
    transform: scale(1.2);
}
.popis {
    text-align: center;
    font-size: 15pt;
}
/*historie*/

.histore_nadpis {
    text-decoration: underline;
    font-size: 17pt;
    margin-left: 60px;
}
.text_historie{
    font-size: 15pt;
    width: 90%;
    margin-left: 80px;
    line-height: 19pt;
    text-align: justify;
}

/*naše èinnost */
.text_cinnost {
    font-size: 15pt;
    width: 90%;
    margin-left: 80px;
    line-height: 19pt;
    text-align: justify;
}

/*naše èinnnost fotky*/
.gallery_cin-container {
    display: flex;
    flex-wrap: wrap;
    /*gap: 10px;*/
    justify-content: center; /* nebo center, space-between... */
}

.galerie_cin {
    background-color: #5aae25e1;
    margin: 4px 5px;
    width: 300px;
    border: 1px solid black;
    transition: 0.3s;
    text-align: center;
    color: black;
}

.galerie_cin:hover {   
    background-color: #3E7B27;
    transition: 0.3s;
    transform: scale(1.08);
    color: #EFE3C2;
}

.galerie_cin img {
    width: 100%;
    height: auto; /* nebo jiná výška podle potøeby */
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.desc_cin {
    padding: 15px;
    text-align: center;
}

/*aktuality jednotný design*/
.aktualita_blok {
    margin-left: auto;
    margin-right: auto;
    width: 63%;
    height: auto;
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
    transition: 0.5s;
}
.aktualita_blok:hover{
    transform: scale(1.15);
    transition: 0.5s;
    background-color: #5cb027;
    color: #EFE3C2;
}
.aktualita_nadpis{
    text-align:center;
    font-size: 20pt;
    font-weight: bold;
}
.text_aktuality {
    font-size: 15pt;
    line-height: 19pt;
    text-align: center;
    margin: 0 20px 0 20px;
}
.centr_fotek{
    text-align:center;
}
.mezeradiv{
    padding: 40px;
}

/*aktuality galerie bez floatu (snad funkèní)*/

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center; /* nebo center, space-between... */
}

.galerie_akt {
    background-color: #5aae25e1;
    margin: 4px 5px;
    width: 225px;
    border: 1px solid black;
    transition: 0.3s;
    text-align: center;
    color: black;
}

.galerie_akt:hover {   
    background-color: #3E7B27;
    transition: 0.3s;
    transform: scale(1.08);
    color: #EFE3C2;
}

.galerie_akt img {
    width: 100%;
    height: auto; /* nebo jiná výška podle potøeby */
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.desc {
    padding: 15px;
    text-align: center;
}



/*aktuality úpravy jednotlivých pøíspìvkù*/
.akt_nabor2025{
    width: 225px;
    border: 1px solid black;
    transition: 0.5s;
}
.akt_nabor2025:hover{
    transform:scale(1.14);
    transition:0.5s;
}


/*fotogalerie*/
.galerie_nadpis {
    text-decoration: underline;
    font-size: 17pt;
    margin-left: 60px;
}

div.galerie {
    margin: 4px 5px;
    border: 1px solid black;
    float: left;
    width: 19%;
    transition: 0.3s;
    overflow: hidden;
}

div.galerie:hover {
    background-color: #5cb027;
    color: #EFE3C2;
    transition: 0.3s;
    transform: scale(1.08);
}

div.galerie img {
    width: 100%;
    height: auto;
}

div.popisfoto {
    padding: 10px;
    text-align: center;
    height: 50px;
    display: flex;
    flex-direction: column; /* umožní vertikální zarovnání víceøádkového obsahu */
    justify-content: center; /* zarovnání textu svisle */
}

.cisteni {
    clear: both;
}

.mezera {
    height: 100px;
}

/*kontakty*/
.centr_kont{
    text-align:center;
}

.text_kontakty {
    font-size: 15pt;
    line-height: 19pt;
}
.mapadiv{
    padding: 30px;
}
.mapa {
    width: 600px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: black 10px 10px 25px;
    transition: 0.5s;
}
.mapa:hover{
    transform: scale(1.25);
    transition: 0.5s;
    box-shadow: black 0px 0px 0px;
}
.tabkontakty {
    color: black;
    width: 300px;
    margin: auto;
    padding: 15px;
    border: 1px solid black;
    border-radius: 20px;
    transition: 0.5s;
    text-decoration: none;
}
.tabkontakty:hover{
    transform: scale(1.15);
    transition: 0.5s;
    background-color: #5cb027;
    color: #EFE3C2;
}
.tabkontakty_nadpis{
    font-size: 15pt;
}
.tabkontakty_odrazka{
    font-size: 13pt;
}
.ig{
    width: 15px;
}